@charset "UTF-8";

/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding-bottom: 1em;
    line-height: 1.4;
}

img {
    width: 100%;
    height: auto;
    border: solid 1px #666;
    display: block;
}

.street img {
    border: none;
}

body {
    background-color: #000;
    color: #FFF;
}

#wrapper {
    max-width: 1280px;
    margin: 0 auto;
    border-left: solid 1px #666;
    border-right: solid 1px #666;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

nav {
    width: 100%;
    max-width: 1280px;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
}

nav ul {
    height: 3em;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    justify-items: center;
    align-items: center;
}

nav a {
    color: #FFF;
    text-decoration: none;
}

section {
    margin: 0 1% 2em;
    padding-top: 3em;
}

.street {
    display: grid;
}

.street div,
h1 {
    grid-area: 1/1/2/-1;
}

h1 {
    place-self: center;
    order: 1;
    font-size: 4em;
}

.four {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: flex-end;
    gap: .7em;
}

.three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    gap: 0.7em;
}

h2 {
    grid-area: 1/1/2/-1;
}

footer {
    display: grid;
    place-content: center;
    height: 3em;
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 1.2em;
    }
    h1{
        font-size: 2em;
        align-self: end;
        justify-self: center;
    }
    h2{
        font-size: 1.6em;
    }
    .four,
    .three,
    nav ul {
        grid-template-columns: repeat(1, auto);
        align-items: flex-start;
        height: auto;
    }

    nav ul {
        grid-template-rows: repeat(5, auto);
        padding: 1em 0;
    }
    nav ul li a{
        font-size: 1.5em;
    }
    main {
        padding: 0 2em;
    }

    section {
        padding-top: 12em;
    }

    footer p {
        text-align: center;
    }
}